<section class="content container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="box box-default page-box" style="height: auto !important;">
          <div class="box-header">
            <div class="icon-inline"><em class="material-icons material-icons-headings-gy">library_books</em><h2>About SMS</h2></div>
          </div>
          <p>SMS is an student management system for lectures:</p>           
        </div>
      </div>
    </div>
  </div>
</section>
