<section class="content container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="box box-default page-box" style="height: auto !important;">
          <div class="box-header">
            <div class="icon-inline"><em class="material-icons material-icons-headings-gy">list_alt</em><h2>Add Students</h2></div>
          </div>
          <dx-data-grid id="gridContainer"
                        [dataSource]="dataSource"
                        [allowColumnReordering]="true"
                        [showBorders]="true"
                        keyExpr="id">
            <dxi-column dataField="studentNr" caption="Student Number"></dxi-column>
            <dxi-column dataField="name" caption="First Name"></dxi-column>
            <dxi-column dataField="surname" caption="Surname"></dxi-column>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-paging [pageSize]="20"></dxo-paging>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-editing mode="row"
                         [allowAdding]="true"
                         [allowUpdating]="true"
                         [allowDeleting]="true">
            </dxo-editing>
            <dxo-export [enabled]="true" fileName="Student-List"></dxo-export>
            <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</section>
